@font-face {
  font-family: 'Museo';
  src: url('fonts/museo300-regular-webfont.eot');
  src: url('fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museo300-regular-webfont.woff') format('woff'),
       url('fonts/museo300-regular-webfont.ttf') format('truetype'),
       url('fonts/museo300-regular-webfont.svg#museo300') format('svg');
  font-weight: 300;
  font-style: normal;
}
